/* tailwindcss directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
  --midnight: #1E1F21;
  /* --midnight: #1a62f3; */
}

/* Remove all focus styles completely */
:focus {
  outline: none !important;
  box-shadow: none !important;
}

:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

* {
  @apply transition-colors duration-200;
}

.dark {
  --bg-color: var(--midnight);
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

@keyframes rainbow-rtl {
  0% { 
    background-position: 0% 50%; 
  }
  100% { 
    background-position: -200% 50%; 
  }
}

.animate-rainbow {
  animation: rainbow var(--speed, 2s) infinite linear;
}

.animate-rainbow-rtl {
  animation: rainbow-rtl var(--speed, 2s) infinite linear;
}

.dark body,
.dark section {
  background-color: var(--midnight);
} 